body {
  font-family: sans-serif;
  font-size: 14px;
  background: black;
  color: white; }

body, html {
  height: 100%; }

#container {
  *height: 100%;
  min-height: 100%;
  position: relative; }

#header {
  height: 46px; }
  #header .logo {
    float: left;
    padding-top: 9px; }

#title {
  background: #611b6e;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 0; }

#content {
  color: #333333;
  padding-bottom: 60px; }
  #content .msg {
    background: #aaaaaa;
    padding: 0.2em;
    border-bottom: 1px black solid; }
  #content .old {
    background-color: #246499; }
  #content .new {
    background-color: #3b9957; }
  #content .error {
    background-color: #992e36; }
