%script#item-template{:type => "text/template"}
  {{#done}}
  .todo.done
    .display
      %input.check{:type=>"checkbox", :checked => "checked"}
      %input.check{:type=>"checkbox"}
      .todo-content
      %span.todo-destroy
    .edit
      %input.todo-input{ :type=>"text", :value=>""}
  {{/done}}
  {{^done}}
  .todo
    .display
      %input.check{:type=>"checkbox", :checked => "checked"}
      %input.check{:type=>"checkbox"}
      .todo-content
      %span.todo-destroy
    .edit
      %input.todo-input{ :type=>"text", :value=>""}
  {{/done}}

%script#stats-template{:type => "text/template"}
  {{#total}}
  %span.todo-count
    %span.number
      {{remaining}}
    %span.word
      items left.
  {{/total}}
  {{#done}}
  %span.todo-clear
    %a{:href => '#' }
      Clear
      %span.number-done
        {{done}}
      %span.word-done
        completed items
  {{/done}}

%script#conversation{ :type => 'text/html' }
  #new-conversation-box
    #header-conversation
      %a.link.link-header-conversation
        %span.close-conversation close
      %h6 PostKey: {{postKey}}
      %hr
    #conversation-input-box
      %label Your message:
      %button.submit Send
      %textarea#text_conversation.conversation-textarea{ :name => "conversation[text]", :cols=>"20", :rows=>"2" }
      #conversation-message-box
        .conversation-id{:id => "conversation-id-{{conversationID}}"}
          {{utterances}}
