- content_for :javascripts do
  = javascript_include_tag 'todos'
- content_for :stylesheets do
  = stylesheet_link_tag  'todos'
#templates
  = render :partial => 'templates'
  #todoapp
    .title
      %h1 Todos
    .content
      #create-todo
        %input#new-todo{:placeholder => "What needs to be done?", :type => "text"}
        %span.ui-tooltip-top{:style => "display:none;"}
          Press Enter to save this task
      #todos
        %ul#todo-list
      #todo-stats

   